.game-board {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(5, 50px); 
    gap: 2px; 
    justify-content: center;
}

.game-row {
    display: contents;
}
